In [ ]:
    '''
ALERT ATL FINACCESS GLOBAL, FI has no data!!!
ALERT BANKINTER EMPRESAS, FI has no data!!!
ALERT BANKINTER ETHOS, FI has no data!!!
ALERT BBVA COBERTURA ACTIVA DINAMICO, FI has no data!!!
ALERT BBVA COBERTURA ACTIVA EQUILIBRADO, FI has no data!!!
ALERT BBVA COBERTURA ACTIVA PRUDENTE, FI has no data!!!
ALERT BINDEX IXESG GLOBAL LEADERS INDICE, FI has no data!!!
ALERT BISSAN, FI has no data!!!
ALERT CAIXABANK BONOS SUBORDINADOS 2, FI has no data!!!
ALERT CUASAR OPTIMAL YIELD, FI has no data!!!
ALERT FONDONORTE GLOBAL DIVIDENDO, FI has no data!!!
ALERT FUNDCAMI FONDO SOLIDARIO, FI has no data!!!
ALERT GESTION BOUTIQUE IV, FI has no data!!!
ALERT GVC GAESCO ASIAN FIXED INCOME, FI has no data!!!
ALERT GVC GAESCO BLUE CHIPS RFMI, FI has no data!!!
ALERT IBERCAJA DIVERSIFICACIÓN EMPRESAS, FI has no data!!!
ALERT IBERCAJA RENTA FIJA EMPRESAS, FI has no data!!!
ALERT IBERCAJA RENTA FIJA SOSTENIBLE, FI has no data!!!
ALERT MUTUAFONDO MIXTO INTERNACIONAL, FI has no data!!!
ALERT PARADOX EQUITY FUND, FI has no data!!!
ALERT PSN MULTIESTRATEGIA, FI has no data!!!
ALERT SANTALUCIA GRANDES COMPAÑIAS ZONA EURO, FI has no data!!!
ALERT SANTALUCIA RENTA VARIABLE EEUU CUBIERTO, FI has no data!!!
ALERT UNIFOND MEGATENDENCIAS, FI has no data!!!
ALERT UNIFOND RENTABILIDAD OBJETIVO, FI has no data!!!
ALERT WELZIA CAPITAL SUB-DEBT, FI has no data!!!
'''

In [67]:
import requests
import json
import csv
from bs4 import BeautifulSoup
import os

infile = open("../data/DOC (20).XML","r")
contents = infile.read()
soup = BeautifulSoup(contents, 'lxml')

# bla=requests.get('https://www.cnmv.es/portal/Consultas/wuc/DescargaXBRLIPP.ashx?t={2a2d5290-274d-43f0-93db-dbef7a5a184d}')
# soup = BeautifulSoup(bla.content, 'lxml')

# soup

In [ ]:
fondo='MISTRAL CARTERA EQUILIBRADA, FI'
def inspect_data(fondo):
     fondo_df=pd.read_csv(f'../data/csv/{fondo}.csv', sep='*')
     return fondo_df

fondo_df=inspect_data(fondo)
pd.set_option('display.max_rows', len(fondo_df))
pd.set_option('display.max_columns', len(fondo_df.columns))
fondo_df

In [77]:
clases = soup.find_all('iic-com:denominacionclase')
clases

[]

In [26]:
import pandas as pd
import numpy as np

a=pd.read_csv('../data/dict_links.csv',index_col=0)
dict_links=a.to_dict(orient='dict')
dict_links=dict_links['links']

dict_links['BANKIA INDEX EMERGENTES, FI']

'https://www.cnmv.es/portal/Consultas/IIC/Fondo.aspx?nif=V88627526 '

In [14]:
dict_links['AMUNDI CORTO PLAZO, FI']

'https://www.cnmv.es/portal/Consultas/IIC/Fondo.aspx?nif=V80346265 '

In [43]:
def parse_strings(x):
    try: return float(x)
    except: return None

In [44]:
for i in ['rentab_IIC_trim',	'volat_vl_trim',	'ratio_gastos_trim']:
    df[i]=df[i].apply(parse_strings)

In [96]:
str(df[df['rentab_avg'].isnull()].rentab_avg[1117])

'nan'

In [ ]:
filt=df['fondo']=='BANKIA GESTION DE AUTOR, FI'

a=df[filt]
a.sort_values('period')

In [62]:
import os
import numpy as np
import pandas as pd

def create_df():
    df=False
    i=0
    for file in os.listdir('../data/csv'):
#         print(file, 'parsed')
        if type(df)==bool:
            df=pd.read_csv(f'../data/csv/{file}', sep='*')
        else:
            df=df.append(pd.read_csv(f'../data/csv/{file}', sep='*'))
        i+=1
    print(f'{i} files parsed!')
    return df.drop_duplicates()
df=create_df()

249 files parsed!

In [63]:
df.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9710 entries, 0 to 11
Data columns (total 22 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   fondo                9710 non-null   object
 1   name                 9710 non-null   object
 2   period               9710 non-null   object
 3   start_date           9710 non-null   object
 4   end_date             9710 non-null   object
 5   riesgo               9710 non-null   object
 6   rotacion             9710 non-null   float64
 7   rentab_avg           9621 non-null   float64
 8   remun_liq            89 non-null     float64
 9   n_participaciones    9710 non-null   float64
 10  n_participes         9710 non-null   int64
 11  beneficio            9710 non-null   float64
 12  patrimonio           9710 non-null   int64
 13  dividendos           9710 non-null   object
 14  valor_liq            9710 non-null   float64
 15  comision_gest_pat    8374 non-null   object
 16  comision_gest_res    7944 non-null   object
 17  comision_gest_total  9710 non-null   float64
 18  comision_depos       9710 non-null   float64
 19  rentab_IIC_trim      9530 non-null   object
 20  volat_vl_trim        9514 non-null   object
 21  ratio_gastos_trim    9664 non-null   object
dtypes: float64(8), int64(2), object(12)
memory usage: 7.3 MB

In [3]:
df['start_date'] = pd.to_datetime(df['start_date'])
df['end_date'] = pd.to_datetime(df['end_date'])

In [42]:
type(list(df.loc[32,'volat_vl_trim'])[0])

str

In [49]:
def type_checker(x,t):
    return type(x)!=t
    
        
df[df['comision_depos'].apply(lambda x: type_checker(x,t=float))]

Empty DataFrame
Columns: [fondo, name, period, start_date, end_date, riesgo, rotacion, rentab_avg, remun_liq, n_participaciones, n_participes, beneficio, patrimonio, dividendos, valor_liq, comision_gest_pat, comision_gest_res, comision_gest_total, comision_depos, rentab_IIC_trim, volat_vl_trim, ratio_gastos_trim]
Index: []

[0 rows x 22 columns]

In [64]:
df.head()

,fondo,name,period,start_date,end_date,riesgo,rotacion,rentab_avg,remun_liq,n_participaciones,...,patrimonio,dividendos,valor_liq,comision_gest_pat,comision_gest_res,comision_gest_total,comision_depos,rentab_IIC_trim,volat_vl_trim,ratio_gastos_trim
0,"BANKIA INDEX EUROZONA, FI",SAFEI BOLSA EUR,2009 T3,2009-07-01,2009-09-30,Alto,0.0,1.00,NaN,19145.88,...,993650,False,51.8989,NaN,NaN,0.57,0.04,NaN,NaN,NaN
1,"BANKIA INDEX EUROZONA, FI",SAFEI BOLSA EUR,2009 S1,2009-01-01,2009-06-30,Alto,0.0,1.08,NaN,16760.30,...,734829,False,43.8434,NaN,NaN,1.12,0.07,17.54,0.4,0.66
2,"BANKIA INDEX EUROZONA, FI",CM IND.EUR.ST50,2010 S2,2010-07-01,2010-12-31,ALTO,0.0,0.48,NaN,95415.60,...,4958853,False,51.9711,NaN,NaN,0.45,0.05,1.91,16.8,0.28
3,"BANKIA INDEX EUROZONA, FI",CM IND.EUR.ST50,2010 T3,2010-07-01,2010-09-30,ALTO,0.0,0.40,NaN,96782.36,...,4935668,False,50.9976,NaN,NaN,0.23,0.03,6.98,24.39,0.28
4,"BANKIA INDEX EUROZONA, FI",CM IND.EUR.ST50,2010 S1,2010-01-01,2010-06-30,ALTO,0.0,0.26,NaN,96254.70,...,4588529,False,47.6707,NaN,NaN,0.44,0.05,-9.97,24.47,0.27

In [12]:
a=df[filt1].drop_duplicates().fondo.unique()
a.sort()
a

array(['AMUNDI CORTO PLAZO, FI', 'CAIXABANK BOLSA ALL CAPS ESPAÑA, FI',
       'CAIXABANK BOLSA GESTION EURO, FI',
       'CAIXABANK COMUNICACION MUNDIAL, FI',
       'CAIXABANK DIVERSIFICADO DINAMICO, FI',
       'CAIXABANK OPORTUNIDAD, FI',
       'CAIXABANK RENTA FIJA ALTA CALIDAD CREDITICIA, FI',
       'CAIXABANK RENTA FIJA DOLAR, FI',
       'CAIXABANK RF DURACION NEGATIVA, FI',
       'CAIXABANK SELECCION ALTERNATIVA, FI', 'CALIOPE, FI',
       'FIDEFONDO, FI', 'FONDITEL ALBATROS, FI',
       'FONDITEL BOLSA MUNDIAL SOSTENIBLE, FI',
       'FONDITEL RENTA FIJA MIXTA INTERNACIONAL, FI',
       'INVERSABADELL 10, FI', 'INVERSABADELL 25, FI',
       'INVERSABADELL 50, FI', 'INVERSABADELL 70, FI',
       'SABADELL AMERICA LATINA BOLSA, FI',
       'SABADELL ASIA EMERGENTE BOLSA, FI',
       'SABADELL BONOS ALTO INTERES, FI', 'SABADELL BONOS EMERGENTES, FI',
       'SABADELL BONOS ESPAÑA, FI', 'SABADELL BONOS EURO, FI',
       'SABADELL BONOS FLOTANTES EURO, F.I.',
       'SABADELL BONOS INFLACIÓN EURO F.I.',
       'SABADELL BONOS INTERNACIONAL, FI', 'SABADELL DINAMICO, FI',
       'SABADELL DOLAR FIJO, FI', 'SABADELL EMERGENTE MIXTO FLEXIBLE, FI',
       'SABADELL EQUILIBRADO, FI', 'SABADELL ESPAÑA BOLSA, FI',
       'SABADELL ESPAÑA DIVIDENDO, FI',
       'SABADELL ESTADOS UNIDOS BOLSA, FI', 'SABADELL EURO YIELD, FI',
       'SABADELL EUROACCION, FI', 'SABADELL EUROPA BOLSA, FI',
       'SABADELL EUROPA EMERGENTE BOLSA, FI', 'SABADELL EUROPA VALOR, FI',
       'SABADELL FINANCIAL CAPITAL, FI', 'SABADELL INTERES EURO, FI',
       'SABADELL INVERSION ETICA Y SOLIDARIA, FI',
       'SABADELL JAPON BOLSA, FI', 'SABADELL PRUDENTE, FI',
       'SABADELL RENDIMIENTO, FI', 'SABADELL SELECCIÓN ALTERNATIVA, FI'],
      dtype=object)

In [41]:
df['rating_depos'].fillna('ND',inplace=True)

In [48]:
df.dividendos.unique()
for i in df.dividendos.unique():
    print(i)
    print(type(i))

None
<class 'NoneType'>
False
<class 'bool'>

In [81]:
df.sort_values(['fondo','period'],inplace=True)
df.reset_index(drop=True,inplace=True)
df[19:25]

,level_0,index,fondo,name,period,start_date,end_date,riesgo,rotacion,rentab_avg,...,patrimonio,dividendos,valor_liq,comision_gest_pat,comision_gest_res,comision_gest_total,comision_depos,rentab_IIC_trim,volat_vl_trim,ratio_gastos_trim
19,19,21,"1 KESSLER GLOBAL, FI",1 KESSLER GLOBAL FI,2019 S1,2019-01-01,2019-06-30,7 (En una escala del 1 al 7),0.04,-0.30,...,7396175,False,8.6995,0.5,0,0.50,0.04,-1.71,6.81,0.39
20,20,19,"1 KESSLER GLOBAL, FI",1 KESSLER GLOBAL FI,2019 S2,2019-07-01,2019-12-31,7 (En una escala del 1 al 7),0.00,-0.40,...,3453739,False,7.9879,0.51,0,0.51,0.04,-8.07,9.46,0.43
21,21,22,"1 KESSLER GLOBAL, FI",1 KESSLER GLOBAL FI,2019 T1,2019-01-01,2019-03-31,7 (En una escala del 1 al 7),0.00,-0.30,...,7544242,False,8.8508,0.25,0,0.25,0.02,-4.17,4.34,0.4
22,22,20,"1 KESSLER GLOBAL, FI",1 KESSLER GLOBAL FI,2019 T3,2019-07-01,2019-09-30,7 (En una escala del 1 al 7),0.00,-0.30,...,5642385,False,8.6890,0.25,0,0.25,0.02,-0.12,11.83,0.46
23,23,1,"A&G RENTA FIJA CORTO PLAZO, FI","AYG TESORERIA, FI",2009 S1,2009-01-01,2009-06-30,Moderado,2.09,1.34,...,90722000,False,5.1817,NaN,NaN,0.12,0.04,0.34,0.12,0.08
24,24,0,"A&G RENTA FIJA CORTO PLAZO, FI","AYG TESORERIA, FI",2009 T3,2009-07-01,2009-09-30,Moderado,0.00,0.22,...,78034000,False,5.1949,NaN,NaN,0.06,0.02,0.25,0.08,0.08

In [90]:
df[df['period']>='2019 S1']

,level_0,index,fondo,name,period,start_date,end_date,riesgo,rotacion,rentab_avg,...,patrimonio,dividendos,valor_liq,comision_gest_pat,comision_gest_res,comision_gest_total,comision_depos,rentab_IIC_trim,volat_vl_trim,ratio_gastos_trim
19,19,21,"1 KESSLER GLOBAL, FI",1 KESSLER GLOBAL FI,2019 S1,2019-01-01,2019-06-30,7 (En una escala del 1 al 7),0.04,-0.30,...,7396175,False,8.6995,0.5,0,0.50,0.04,-1.71,6.81,0.39
20,20,19,"1 KESSLER GLOBAL, FI",1 KESSLER GLOBAL FI,2019 S2,2019-07-01,2019-12-31,7 (En una escala del 1 al 7),0.00,-0.40,...,3453739,False,7.9879,0.51,0,0.51,0.04,-8.07,9.46,0.43
21,21,22,"1 KESSLER GLOBAL, FI",1 KESSLER GLOBAL FI,2019 T1,2019-01-01,2019-03-31,7 (En una escala del 1 al 7),0.00,-0.30,...,7544242,False,8.8508,0.25,0,0.25,0.02,-4.17,4.34,0.4
22,22,20,"1 KESSLER GLOBAL, FI",1 KESSLER GLOBAL FI,2019 T3,2019-07-01,2019-09-30,7 (En una escala del 1 al 7),0.00,-0.30,...,5642385,False,8.6890,0.25,0,0.25,0.02,-0.12,11.83,0.46
59,59,38,"A&G RENTA FIJA CORTO PLAZO, FI","AYG RENTA FIJA CORTO PLAZO, FI",2019 S1,2019-01-01,2019-06-30,Moderado,0.11,-0.30,...,26911180,False,5.5473,0.07,NaN,0.07,0.04,-0.06,0.08,0.08
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9705,9705,43,"BBVA GESTION CONSERVADORA, FI","BBVA GESTION CONSERVADORA, FI",2020 T1,2020-01-01,2020-03-31,3 en una escala del 1 al 7,0.57,-0.36,...,470008000,False,9.9014,0.5,0,0.50,0.05,-7.41,12.04,0.58
9706,9706,41,"BBVA GESTION CONSERVADORA, FI","BBVA GESTION CONSERVADORA, FI",2020 T3,2020-07-01,2020-09-30,3 en una escala del 1 al 7,0.44,-0.12,...,475690000,False,10.1618,0.5,0,0.50,0.05,0.1,2.88,0.6
9707,9707,0,"ÁNCORA CONSERVADOR, FI",CLASE I ANCORA CONSERVADOR FI,2020 S 2,2020-07-01,2020-12-31,3 en una escala de 1 a 7,0.00,-0.29,...,3035946,False,101.1982,0.07,0,0.07,0.01,1.2,1.33,0.18
9708,9708,2,"ÁNCORA CONSERVADOR, FI",CLASE R ANCORA CONSERVADOR FI,2020 T 3,2020-07-01,2020-09-30,3 en una escala de 1 a 7,0.00,-0.17,...,11559780,False,100.2478,0.14,0,0.14,0.02,[],[],0.35
9709,9709,1,"ÁNCORA CONSERVADOR, FI",CLASE I ANCORA CONSERVADOR FI,2020 T 3,2020-07-01,2020-09-30,3 en una escala de 1 a 7,0.00,-0.17,...,0,False,0.0000,0,0,0.00,0.00,[],[],0

In [9]:
#New columns
def period_type(x):
    if 'S' in x:
        return 'S'
    elif 'T' in x:
        return 'T'
    
def trimester_4(s2,t3):
    return 2*s2 - t3

def trimester_2(s1,t1):
    return 2*s1 - t1

In [10]:
df['period_type']=df['period'].apply(period_type)

In [27]:
fondo='ACCION EUROSTOXX 50 ETF, FI COTIZADO ARMONIZADO'
os.remove(f'data/csv/{fondo}.csv')
print(f'{fondo}.csv deleted')

ACCION EUROSTOXX 50 ETF, FI COTIZADO ARMONIZADO.csv deleted